*{
	margin: 0; /* else see white space */
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.home{
  height: 100vh; /* 100% of the page */
	width: 100%;
  background-image: url("images/catBg.jpg");
  background-size: cover;
}
nav{
	display: flex;
	align-items: right;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
#logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
}
nav ul{
  padding-right: 55px;
}
nav ul li{
	display: inline-block; /* to make it a list horizontal*/
	padding: 10px;
}
.nav-a{
	color: white;
	text-decoration: none; /* removes underline */
	font-weight: bold;
  font-size: 16px;
}
.nav-a:hover{
    font-size: 20px;
    transition: font-size 1s;
}
#introduction{
  color: white;
  position: absolute;
	top: 50%;
	left:8%;
	/* transform: translateY(-50%); */
}
#introduction h1{
  letter-spacing: 1px;
  font-size: 60px;
}
#introduction h3{
  margin-bottom: 20px;
  color: beige;
}
#introduction h4{
  margin-top: 10px;
}
#introduction span{
  color: lightgreen;
}

#service{
  height: 100vh;
	width: 100%;
  background-color: black;
}
#services{
  color: white;
  position: absolute;
	top: 50%;
	left:8%;
	/* transform: translateY(-50%); */
}
#services h3{
  letter-spacing: 1px;
  font-size: 40px;
  margin-top: 20px;
}
#services span{
  color: lightgreen;
}
#services ul{
  list-style-image: url("images/  paws_02.png")
}
#contacts{
  color: white;
  position: absolute;
	top: 50%;
	left:8%;
	/* transform: translateY(-50%); */
}

#mail{
	padding: 14px 130px 14px 15px;
	outline: none;
}
#submit{
  margin-left: 10px;
	border: none;
	padding: 10px 30px; /* to make it look like a button */
	border-radius: 30px;
	background-color:green;
	color: white;
  cursor: pointer;
}